<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script type="text/javascript" src="../static/dynamGraph.js"></script>
<style type="text/css">
.link { stroke: #ccc; }
.nodetext { pointer-events: none; font: 10px sans-serif; }
</style>
</head>
<body>
<script>

    $(document).ready(function() {
        Graph();
        window.add('www.google.it', 'www.facebook.it');
        window.add('www.google.it', 'microsoft.com');
    })
</script>
</body>
</html>
