<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>urlgraphs-web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../static/bootstrap.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="../static/submit.js"></script>
    <script src="../static/AtLeastOneChecked.js"></script>
    <style type="text/css">
      body
      {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav
      {
        padding: 9px 0;
      }
    </style>
    <link href="../static/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <br>
              <li class="nav-header">Profondita' raggiunta</li>
              <li class="active">2</li>
              <br>
              <li class="nav-header">Timeout</li>              
              <li class="active">30</li>
              <br>
              <li class="nav-header">Numero URL non analizzati</li>
              <li class="active">50</li>
              <br>
              <li class="nav-header">Tempo trascorso</li>              
              <li class="active">1:30:22</li>
              <br>
              <li class="nav-header">Criteri di ricerca</li>
              <li class="active"><input type="checkbox" class = "opt1" name="option1" value="Modello1" checked> Turisti per caso</li>
              <br>
              <li class="active"><input type="checkbox" class = "opt2" name="option2" value="Modello2" checked> Vbulletin Topic</li>
              <br>
              <li class="active"><input type="checkbox" class = "opt3" name="option3" value="Modello3" checked> Vbulletin Section</li>
              <br>
              <li class="active"><input type="checkbox" class = "opt4" name="option4" value="Modello4" checked> Yahoo Answer</li>
              <br>
              <li class="active"><input type="checkbox" class = "opt5" name="option6" value="Modello5" checked> All Ahref</li>
              <br>
              <li class="active"><input type="checkbox" class = "opt6" name="option6" value="Modello6" checked> DiffBot</li>
              <br>
            </ul>
          </div>
        </div>
        <div class="span8">
          <div class="hero-unit">
            <h1>Lista alias</a></h1>
            <br>
            <ul class="nav nav-list">
              <li class="active">N0 : questo e' il primo link</li>
              <li class="active">N1 : questo e' il secondo link</li>
              <li class="active">N2 : questo e' il terzo link</li>
              <li class="active">N3 : questo e' il quarto link</li>
              <li class="active">N4 : questo e' il quinto link</li>
              <li class="active">N5 : questo e' il sesto link</li>
              <li class="active">N6 : questo e' il settimo link</li>
            </ul>            
          </div>
          <div class="hero-unit">
            <a data-toggle="modal"  onClick="alert('PAUSE')" class="btn btn-primary btn-large">Pause</a>
            <a data-toggle="modal"  onClick="alert('PLAY')" class="btn btn-primary btn-large">Play</a>
            <a data-toggle="modal"  onClick="alert('GRAPHSHOT')" class="btn btn-primary btn-large">Graphshot</a>
            <br>
            <br> 
            <h2>Qui ci va il grafico</h2> 
          </div>
        </div>
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Profondita' voluta</li>
              <li class="active">
                <form name="UrlProfondita" method="" action="">
              	  <textarea name="profondita" cols="1" rows="1">3</textarea>
                </form>	
	      </li>
              <li class="nav-header">Timeout <i>(secs)</i></li>
              <li class="active">
                <form name="UrlTimeout" method="" action="">
              	  <textarea name="timeout" cols="2" rows="1">30</textarea>
              	</form>	
	      </li>                    
              <li class="nav-header">Percorso file input</li>
              <li class="active">
                <form name="UrlInput" method="" action="">
              	  <textarea name="input" cols="20" rows="1">C:/input</textarea>
              	</form>	
	      </li>
              <li class="nav-header">Percorso file output</li>
              <li class="active">
                <form name="UrlOutput" method="" action="">
              	  <textarea name="output" cols="20" rows="1">C:/output</textarea>
                </form>	
	      </li>
              <li class="nav-header">Percorso file link non validi</li>              
              <li class="active">
                <form name="UrlFake" method="" action="">
              	  <textarea name="fake" cols="20" rows="1">C:/fake</textarea>
              	</form>	
	      </li>
              <li class="nav-header">Percorso slvataggio istantanee</li>              
              <li class="active">
                <form name="UrlShots" method="" action="">
              	  <textarea name="shots" cols="20" rows="1">C:/pics</textarea>              	  
	      	</form>	
	      </li>
	      <li>
	        <script src="../static/sub_confirm.js"></script>
	        <script src="../static/input.js"></script>
	        <input onClick="if(Sub()) {alert(Input());}" class="send" type="submit" value="Submit"/>
	      </li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
    </div>        
  </body>
</html>
